.destinations {
    margin-top: 5%;
    margin-bottom: 5%;
    &-subtitle {
        font-weight: 600;
        font-size: 1.2vw;
        text-align: center;
        color: #5E6282;
    }
    &-title {
        margin: 1% 0 5%;
        font-family: 'Volkhov';
        font-weight: 700;
        font-size: 3.5vw;
        text-align: center;
        text-transform: capitalize;
        color: #14183E;
    }
    &-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: space-evenly;
    }
    &__item {
        height: 30vw;
        width: 25%;
        display: flex;
        flex-direction: column;
        filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
        &:last-child {
            position: relative;
            &::before {
                position: absolute;
                z-index: -1;
                content: '';
                background-image: url(../img/decore2.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: contain;
                top: 36%;
                left: 90%;
                width: 30%;
                height: 60%;
            }
        }
        &-image {
            height: 75%;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
                transition: filter 0.2s ease-in-out;
            }
        }
        &-inner {
            background: #FFFFFF;
            border-radius: 0 0 2vw 2vw;
            padding: 10% 10% 8% 6%;
            color: #5E6282;
            font-size: 1.1vw;
        }
        &-text {
            display: flex;
            justify-content: space-between;
        }
        &-duration {
            position: relative;
            margin-top: 5%;
            padding-left: 10%;
            &::before {
                position: absolute;
                
                content: '';
                background-image: url(../img/navigationArrow.svg);
                background-repeat: no-repeat;
                background-size: contain;
                top: 10%;
                left: 0;
                width: 8%;
                height: 70%;
            }
        }
        &:hover &-image img{
            filter: contrast(.8);
        }
    }
}