.steps {
    &-inner {
        display: flex;
        justify-content: space-between;
    }
    &__description {
        flex: 0 0 40%;
        &-subtitle {
            font-weight: 600;
            font-size: 1.4vw;
            color: #5E6282;
        }
        &-title {
            font-family: 'Volkhov';
            font-weight: 700;
            font-size: 3vw;
            text-transform: capitalize;
            color: #14183E;
            margin: 3% 0 7%;
        }
        &-item {
            position: relative;
            font-size: 1.1vw;
            color: #5E6282;
            padding-left: 16%;
            &:not(:last-child) {
                margin-bottom: 8%;
            }
            &::before {
                position: absolute;
                content: '';
                top: 10%;
                left: 0;
                width: 12%;
                height: 75%;
                background-repeat: no-repeat;
                background-size: contain;
            }
            &:first-child::before {
                background-image: url(../img/step1.svg);
            }
            &:nth-child(2)::before {
                background-image: url(../img/step2.svg);
            }
            &:last-child::before {
                background-image: url(../img/step3.svg);
            }
        }
        &-itemTitle {
            font-weight: 700;
            margin-bottom: 1%;
        }
        &-itemText {
            font-weight: 400;
        }
    }
    &__card {
        position: relative;
        margin: 7% 10% 0 0;
        height: fit-content;
        padding: 2%;
        background: #FFFFFF;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.05);
        border-radius: 2vw;
        font-weight: 500;
        color: #84829A;
        font-size: 1vw;
        &::before {
            position: absolute;
            content: '';
            z-index: -1;
            top: -40%;
            left: 20%;
            width: 30vw;
            height: 30vw;
            background-image: url(../img/decore3.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
        &-image {
            border: 2px solid #000;
            border-radius: 2vw;
            overflow: hidden;
            width: 19vw;
            height: 10vw;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        &-title {
            margin: 7% 0 3%;
            font-size: 1.6vw;
            color: #080809;
        }
        &-links {
            display: flex;
            gap: 5%;
            margin-top: 5%;
        }
        &-link {
            display: flex;
            width: 2.7vw;
            height: 2.7vw;
            border-radius: 50%;
            background-color: #F5F5F5;
            img {
                margin: auto;
                width: 40%;
            }
        }
        &-peopleQuantity {
            position: relative;
            padding-left: 11%;
            margin-top: 10%;
            &::before {
                position: absolute;
                content: '';
                background-image: url(../img/stepsCardBuilding.svg);
                background-repeat: no-repeat;
                background-size: contain;
                top: -3%;
                left: 0;
                width: 7%;
                height: 78%;
            }
        }
        .likeButton {
            position: absolute;
            bottom: 4%;
            right: 10%;
            width: 2vw;
            height: 2vw;
            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &:hover {
                path {
                    fill: #8A79DF;
                }
            }
        }
        &-popup {
            position: absolute;
            top: 53%;
            left: 57%;
            background: #FFFFFF;
            width: 14vw;
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
            border-radius: 1.7vw;
            padding: 5% 8% 8% 7%;
            display: flex;
            gap: 10%;
            flex-shrink: 0;
            &-image {
                width: 3.5vw;
                height: 3.5vw;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &-subtitle {
                font-weight: 500;
                color: #84829A;
                font-size: 1vw;
            }
            &-text {
                flex-grow: 1;
            }
            &-title {
                font-size: 1.3vw;
                color: #080809;
            }
            &-progress {
                margin-top: 5%;
                font-size: 1vw;
                color: #080809;
                span {
                    color: #8A79DF;
                }
            }
            &-progressBar {
                position: relative;
                margin-top: 6%;
                width: 100%;
                height: 9%;
                background-color: #F5F5F5;
                border-radius: 4vw;
                &::before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 40%;
                    background-color: #8A79DF;
                    border-radius: 4vw;
                }
            }
        }

    }

}