* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.header {
  position: relative;
  padding-top: 2vw;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2vw;
  font-weight: 500;
}
.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-logo {
  display: block;
  width: 8vw;
  height: 2.5vw;
}
.header-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4vw;
}
.header-navLinks li {
  -webkit-transition: scale ease-in-out 0.2s;
  transition: scale ease-in-out 0.2s;
}
.header-navLinks li:hover {
  scale: 1.1;
}
.header-navLinks a {
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;
}
.header-navLinks a:hover {
  color: #3d4899;
}
.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3vw;
}
.header .btn {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2vw;
  font-weight: 500;
  -webkit-transition: scale ease-in-out 0.2s, color ease-in-out 0.2s;
  transition: scale ease-in-out 0.2s, color ease-in-out 0.2s;
}
.header .btn-signUp {
  border: 1px solid #212832;
  border-radius: 0.5vw;
  padding: 0.3vw 0.5vw;
}
.header .btn:hover {
  color: #3d4899;
  scale: 1.08;
}
.header::before {
  content: url(../img/decore1.svg);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.header::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url(../img/decore.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
  width: 40vw;
  height: 50vw;
}

.dropdown {
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.1s, opacity 0.3s ease-in-out;
  transition: visibility 0.1s, opacity 0.3s ease-in-out;
}
.dropdown-divider {
  border: 1px solid #000;
}
.dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.dropdown-item {
  padding: 2px 5px;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.banner {
  margin-top: 25px;
}
.banner-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner-left {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}
.banner-subtitle {
  font-size: 1.5vw;
  text-transform: uppercase;
  color: #DF6951;
}
.banner-title {
  margin: 2% 0 4%;
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 5vw;
  color: #181E4B;
}
.banner-text {
  margin-bottom: 4%;
  font-size: 1vw;
  color: #5E6282;
  max-width: 75%;
}
.banner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}
.banner-buttons .button1 {
  background: #F1A501;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 0.8vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.1vw;
  text-align: center;
  color: #FFFFFF;
  padding: 0 3%;
  -webkit-transition: scale ease-in-out 0.2s;
  transition: scale ease-in-out 0.2s;
}
.banner-buttons .button1:hover {
  scale: 1.08;
}
.banner-buttons .button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1vw;
  color: #686D77;
  -webkit-transition: scale ease-in-out 0.2s;
  transition: scale ease-in-out 0.2s;
}
.banner-buttons .button2 .playButtonImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  background: #DF6951;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
}
.banner-buttons .button2 .playButtonImage img {
  margin: auto;
  width: 20%;
}
.banner-buttons .button2:hover {
  scale: 1.08;
}
.banner-right {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}
.banner-photo {
  position: relative;
  z-index: 1;
}
.banner-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner-plane {
  position: absolute;
  width: 9vw;
  height: 9vw;
  z-index: 2;
}
.banner-plane img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner #plane1 {
  top: 7%;
  left: 55%;
}
.banner #plane1:hover {
  -webkit-animation: planeFlight ease-in-out 3s;
          animation: planeFlight ease-in-out 3s;
}
.banner #plane2 {
  top: 12%;
  left: 91%;
}
.banner #plane2:hover {
  -webkit-animation: planeFlight ease-in-out 3s;
          animation: planeFlight ease-in-out 3s;
}

@-webkit-keyframes planeFlight {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(300%, -180%);
            transform: translate(300%, -180%);
    opacity: 0;
  }
  91% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes planeFlight {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
  90% {
    -webkit-transform: translate(300%, -180%);
            transform: translate(300%, -180%);
    opacity: 0;
  }
  91% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 1;
  }
}
.category {
  margin-top: 5%;
  position: relative;
}
.category-subtitle {
  font-weight: 600;
  font-size: 1.2vw;
  text-align: center;
  color: #5E6282;
}
.category-title {
  margin: 1% 0 5%;
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 3.5vw;
  text-align: center;
  text-transform: capitalize;
  color: #14183E;
}
.category-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.category__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2% 0;
  border-radius: 2vw;
  height: 20vw;
  -webkit-transition: background-color 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, -webkit-box-shadow 0.1s ease-in-out;
}
.category__item-image {
  height: 30%;
}
.category__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.category__item-title {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.5vw;
  color: #1E1D4C;
}
.category__item-text {
  width: 80%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.1vw;
  color: #5E6282;
}
.category__item::before {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  content: "";
  width: 7vw;
  height: 7vw;
  top: 75%;
  left: -13%;
  background: #DF6951;
  border-radius: 2vw 0 0.8vw;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.category__item:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.06);
}
.category__item:hover::before {
  visibility: visible;
  opacity: 1;
}
.category__decorPluses {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 3%;
  width: 10vw;
  height: 10vw;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4vw;
  color: #E5E5E5;
}
.category__decorPluses span:nth-child(1) {
  color: #FF7152;
}
.category__decorPluses span:nth-child(14) {
  color: #6246E5;
}

.destinations {
  margin-top: 5%;
  margin-bottom: 5%;
}
.destinations-subtitle {
  font-weight: 600;
  font-size: 1.2vw;
  text-align: center;
  color: #5E6282;
}
.destinations-title {
  margin: 1% 0 5%;
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 3.5vw;
  text-align: center;
  text-transform: capitalize;
  color: #14183E;
}
.destinations-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.destinations__item {
  height: 30vw;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03));
}
.destinations__item:last-child {
  position: relative;
}
.destinations__item:last-child::before {
  position: absolute;
  z-index: -1;
  content: "";
  background-image: url(../img/decore2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  top: 36%;
  left: 90%;
  width: 30%;
  height: 60%;
}
.destinations__item-image {
  height: 75%;
  overflow: hidden;
}
.destinations__item-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-filter 0.2s ease-in-out;
  transition: -webkit-filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}
.destinations__item-inner {
  background: #FFFFFF;
  border-radius: 0 0 2vw 2vw;
  padding: 10% 10% 8% 6%;
  color: #5E6282;
  font-size: 1.1vw;
}
.destinations__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.destinations__item-duration {
  position: relative;
  margin-top: 5%;
  padding-left: 10%;
}
.destinations__item-duration::before {
  position: absolute;
  content: "";
  background-image: url(../img/navigationArrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 10%;
  left: 0;
  width: 8%;
  height: 70%;
}
.destinations__item:hover .destinations__item-image img {
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

.steps-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.steps__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.steps__description-subtitle {
  font-weight: 600;
  font-size: 1.4vw;
  color: #5E6282;
}
.steps__description-title {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 3vw;
  text-transform: capitalize;
  color: #14183E;
  margin: 3% 0 7%;
}
.steps__description-item {
  position: relative;
  font-size: 1.1vw;
  color: #5E6282;
  padding-left: 16%;
}
.steps__description-item:not(:last-child) {
  margin-bottom: 8%;
}
.steps__description-item::before {
  position: absolute;
  content: "";
  top: 10%;
  left: 0;
  width: 12%;
  height: 75%;
  background-repeat: no-repeat;
  background-size: contain;
}
.steps__description-item:first-child::before {
  background-image: url(../img/step1.svg);
}
.steps__description-item:nth-child(2)::before {
  background-image: url(../img/step2.svg);
}
.steps__description-item:last-child::before {
  background-image: url(../img/step3.svg);
}
.steps__description-itemTitle {
  font-weight: 700;
  margin-bottom: 1%;
}
.steps__description-itemText {
  font-weight: 400;
}
.steps__card {
  position: relative;
  margin: 7% 10% 0 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.05);
  border-radius: 2vw;
  font-weight: 500;
  color: #84829A;
  font-size: 1vw;
}
.steps__card::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: -40%;
  left: 20%;
  width: 30vw;
  height: 30vw;
  background-image: url(../img/decore3.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.steps__card-image {
  border: 2px solid #000;
  border-radius: 2vw;
  overflow: hidden;
  width: 19vw;
  height: 10vw;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.steps__card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.steps__card-title {
  margin: 7% 0 3%;
  font-size: 1.6vw;
  color: #080809;
}
.steps__card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  margin-top: 5%;
}
.steps__card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.7vw;
  height: 2.7vw;
  border-radius: 50%;
  background-color: #F5F5F5;
}
.steps__card-link img {
  margin: auto;
  width: 40%;
}
.steps__card-peopleQuantity {
  position: relative;
  padding-left: 11%;
  margin-top: 10%;
}
.steps__card-peopleQuantity::before {
  position: absolute;
  content: "";
  background-image: url(../img/stepsCardBuilding.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: -3%;
  left: 0;
  width: 7%;
  height: 78%;
}
.steps__card .likeButton {
  position: absolute;
  bottom: 4%;
  right: 10%;
  width: 2vw;
  height: 2vw;
}
.steps__card .likeButton svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.steps__card .likeButton:hover path {
  fill: #8A79DF;
}
.steps__card-popup {
  position: absolute;
  top: 53%;
  left: 57%;
  background: #FFFFFF;
  width: 14vw;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 1.7vw;
  padding: 5% 8% 8% 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.steps__card-popup-image {
  width: 3.5vw;
  height: 3.5vw;
}
.steps__card-popup-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.steps__card-popup-subtitle {
  font-weight: 500;
  color: #84829A;
  font-size: 1vw;
}
.steps__card-popup-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.steps__card-popup-title {
  font-size: 1.3vw;
  color: #080809;
}
.steps__card-popup-progress {
  margin-top: 5%;
  font-size: 1vw;
  color: #080809;
}
.steps__card-popup-progress span {
  color: #8A79DF;
}
.steps__card-popup-progressBar {
  position: relative;
  margin-top: 6%;
  width: 100%;
  height: 9%;
  background-color: #F5F5F5;
  border-radius: 4vw;
}
.steps__card-popup-progressBar::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 40%;
  background-color: #8A79DF;
  border-radius: 4vw;
}

.testimonials {
  margin-top: 15%;
}
.testimonials-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 10%;
}
.testimonials-titles {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.testimonials-subtitle {
  font-weight: 600;
  font-size: 1.4vw;
  color: #5E6282;
}
.testimonials-title {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 3vw;
  text-transform: capitalize;
  color: #14183E;
  margin: 3% 0 7%;
}
.testimonials__quote {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  padding: 3% 6% 2% 4%;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.06);
  border-radius: 1.5vw;
  color: #5E6282;
  font-size: 1.1vw;
}
.testimonials__quote-image {
  position: absolute;
  top: -13%;
  left: -7%;
  width: 5vw;
  height: 5vw;
}
.testimonials__quote-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.testimonials__quote-text {
  line-height: 200%;
}
.testimonials__quote-author {
  font-size: 1.3vw;
  font-weight: 600;
  margin: 3% 0 0%;
}
.testimonials__brands {
  margin-top: 15%;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonials__brands-item {
  width: 10vw;
  padding: 0 2%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: background-color, -webkit-filter 0.3s, -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color, -webkit-filter 0.3s, -webkit-box-shadow 0.3s ease-in-out;
  transition: filter 0.3s, background-color, box-shadow 0.3s ease-in-out;
  transition: filter 0.3s, background-color, box-shadow 0.3s ease-in-out, -webkit-filter 0.3s, -webkit-box-shadow 0.3s ease-in-out;
}
.testimonials__brands-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.testimonials__brands-item:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0vw 2vw 6vw rgba(0, 0, 0, 0.15);
          box-shadow: 0vw 2vw 6vw rgba(0, 0, 0, 0.15);
  border-radius: 1.2vw;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.subscribe {
  margin: 10vw 0;
}
.subscribe-inner {
  position: relative;
  padding: 5% 10%;
  background: rgba(223, 215, 249, 0.3254901961);
  border-radius: 8vw 2.3vw 2.3vw 2.3vw;
  text-align: center;
}
.subscribe-inner::before {
  position: absolute;
  content: "";
  bottom: 0%;
  left: 2%;
  background-image: url(../img/subscribe2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 21%;
  height: 62%;
  opacity: 0.1;
}
.subscribe-inner::after {
  position: absolute;
  content: "";
  top: 0%;
  right: 0%;
  background-image: url(../img/subscribe3.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 11%;
  height: 60%;
  opacity: 0.1;
}
.subscribe-title {
  color: #5E6282;
  font-size: 1.8vw;
  font-weight: 600;
  width: 75%;
  margin: 0 auto 5%;
}
.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
  width: 50%;
  margin: 0 auto;
}
.subscribe-form button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF946D), to(#FF7D68));
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border-radius: 0.5vw;
  padding: 3% 4%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  text-align: center;
  color: #FFFFFF;
}
.subscribe-form button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff806d), to(#ff6868));
  background: linear-gradient(180deg, #ff806d 0%, #ff6868 100%);
}
.subscribe-form input {
  background: #FFFFFF;
  border-radius: 0.5vw;
  border: none;
  outline: none;
  padding-left: 3%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8vw;
  color: #39425D;
}
.subscribe-form input::-webkit-input-placeholder {
  color: #39425D;
}
.subscribe-form input::-moz-placeholder {
  color: #39425D;
}
.subscribe-form input:-ms-input-placeholder {
  color: #39425D;
}
.subscribe-form input::-ms-input-placeholder {
  color: #39425D;
}
.subscribe-form input::placeholder {
  color: #39425D;
}
.subscribe-decor {
  position: absolute;
  top: -6%;
  right: -1%;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe-decor img {
  margin: auto 0 auto 30%;
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.subscribe__decorPluses {
  pointer-events: none;
  position: absolute;
  top: 70%;
  right: -8%;
  width: 10vw;
  height: 10vw;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4vw;
  color: #E5E5E5;
}
.subscribe__decorPluses span:nth-child(5) {
  color: #FF7152;
}
.subscribe__decorPluses span:nth-child(13) {
  color: #6246E5;
}

.footer {
  margin: 0 0 3%;
  color: #5E6282;
  font-weight: 500;
  font-size: 1vw;
}
.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3vw;
}
.footer-column1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 15%;
          flex: 0 15%;
}
.footer-logo {
  font-size: 2.2vw;
  color: #181E4B;
}
.footer-text {
  font-size: 0.8vw;
}
.footer-listTitle {
  color: #080809;
  margin-bottom: 1vw;
}
.footer-list li:not(:last-child) {
  margin-bottom: 10%;
}
.footer-list__item {
  display: block;
  color: #5E6282;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.footer-list__item:hover {
  color: #3d4899;
}
.footer-socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-socialLinks a {
  width: 1.4vw;
  height: 1.4vw;
  display: block;
}
.footer-socialLinks a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer-appTitle {
  font-size: 1.2vw;
  margin: 7% 0 5%;
}
.footer-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
}
.footer-apps a {
  display: block;
  height: 2.3vw;
}
.footer-apps a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer-rights {
  text-align: center;
  font-size: 0.8vw;
}

.header-navLinks__mobile-wrapper {
  display: none;
}

.burger-menu {
  display: none;
}

.category-mobile-moreButton {
  display: none;
}

.testimonials__brands-title-mobile {
  display: none;
}

.steps__card-decorPluses {
  display: none;
}

.destinations__decorPluses {
  display: none;
}

.subscribe-mobile {
  display: none;
}

@media (max-width: 576px) {
  .container {
    width: 80vw;
  }
  .header {
    background: #FFF1DA;
    padding: 5vw;
  }
  .header::before, .header::after {
    display: none;
  }
  .header-navLinks__wrapper {
    display: none;
  }
  .header-logo {
    width: 30vw;
    height: 9vw;
  }
  .header .btn {
    display: none;
  }
  .header-navLinks__mobile-wrapper {
    display: none;
    opacity: 0;
    padding-bottom: 10vw;
    -webkit-transition: opacity ease-in 5s;
    transition: opacity ease-in 5s;
  }
  .header-navLinks__mobile {
    margin-top: 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3vw;
  }
  .header-navLinks__mobile a {
    font-weight: 400;
    font-size: 5vw;
    color: #737373;
  }
  .header .dropdown {
    font-size: 5vw;
  }
  .header .burger-menu {
    margin-left: 2vw;
    display: block;
    width: 6vw;
    height: 4vw;
  }
  .header .burger-menu img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header #menu:target {
    display: block;
    opacity: 1;
  }
  .banner {
    margin-top: 20vw;
  }
  .banner-right {
    display: none;
  }
  .banner #plane2 {
    display: none;
  }
  .banner #plane1 {
    width: 40vw;
    height: 37vw;
    top: -30%;
    left: -20%;
  }
  .banner-subtitle {
    display: none;
  }
  .banner-title {
    font-size: 11vw;
    text-align: center;
  }
  .banner-text {
    display: none;
  }
  .banner-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8vw;
  }
  .banner-buttons .button1 {
    font-size: 5vw;
    padding: 4vw 5vw;
  }
  .banner-buttons .button2 {
    font-size: 5vw;
    gap: 5vw;
  }
  .banner-buttons .button2 .playButtonImage {
    width: 10vw;
    height: 10vw;
  }
  .category {
    margin-top: 20vw;
  }
  .category-subtitle {
    font-size: 4vw;
    margin-bottom: 5vw;
  }
  .category-title {
    font-size: 9vw;
  }
  .category-mobile-moreButton {
    display: block;
    font-weight: 400;
    font-size: 4vw;
    text-align: center;
    color: #737373;
  }
  .category-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5vw;
  }
  .category__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5vw;
    padding: 8vw 0;
    width: 55vw;
  }
  .category__item:nth-child(3), .category__item:last-child {
    display: none;
  }
  .category__item::before {
    width: 20vw;
    height: 20vw;
    top: 82%;
    left: -16%;
  }
  .category__item-image {
    height: 20vw;
    width: 25vw;
  }
  .category__item-title {
    font-size: 5vw;
  }
  .category__item-text {
    font-size: 3vw;
    width: 60%;
  }
  .category__decorPluses {
    top: -55vw;
    right: 0%;
    width: 28vw;
    height: 28vw;
    font-size: 3.7vw;
  }
  #category-items:target > #hide1,
  #category-items:target > #hide2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .destinations {
    position: relative;
  }
  .destinations-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10vw;
  }
  .destinations__item {
    height: 100vw;
    width: 80%;
  }
  .destinations__item-text {
    font-size: 5vw;
  }
  .destinations__item-duration {
    font-size: 4vw;
  }
  .destinations__item:last-child::before {
    display: none;
  }
  .destinations-subtitle {
    font-size: 4vw;
    margin-bottom: 5vw;
  }
  .destinations-title {
    font-size: 9vw;
    margin-bottom: 10vw;
    width: 70%;
    margin: 0 auto 10vw;
  }
  .destinations__decorPluses {
    position: absolute;
    pointer-events: none;
    width: 25vw;
    height: 35vw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 4vw;
    color: #E5E5E5;
  }
  .destinations__decorPluses span:nth-child(3) {
    color: #FF7152;
  }
  .destinations__decorPluses span:nth-child(7) {
    color: #6246E5;
  }
  .destinations__decorPluses1 {
    top: 0;
    right: 75%;
  }
  .destinations__decorPluses2 {
    bottom: -8%;
    right: 75%;
  }
  .steps-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps__description-subtitle {
    display: none;
  }
  .steps__description-title {
    font-size: 9vw;
    margin-top: 20vw;
    margin-bottom: 10vw;
  }
  .steps__description-itemTitle {
    font-size: 3vw;
  }
  .steps__description-itemText {
    font-size: 3vw;
  }
  .steps__card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20vw 0 0;
    padding: 7vw;
    -webkit-box-shadow: 15vw -15vw 37vw -19vw #59B1E6, 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.004814);
            box-shadow: 15vw -15vw 37vw -19vw #59B1E6, 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.004814);
    border-radius: 6vw;
  }
  .steps__card-image {
    width: 65vw;
    height: 34vw;
    -ms-flex-item-align: center;
        align-self: center;
    border-radius: 6vw;
  }
  .steps__card-title {
    font-size: 4vw;
  }
  .steps__card-info {
    font-size: 3.5vw;
  }
  .steps__card-link {
    width: 8vw;
    height: 8vw;
  }
  .steps__card-peopleQuantity {
    margin-top: 4%;
    font-size: 3.5vw;
  }
  .steps__card .likeButton {
    bottom: 8%;
    width: 4vw;
    height: 4vw;
  }
  .steps__card::before {
    display: none;
  }
  .steps__card-decorPluses {
    position: absolute;
    top: 83%;
    right: -10%;
    pointer-events: none;
    width: 25vw;
    height: 25vw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 4vw;
    color: #E5E5E5;
  }
  .steps__card-decorPluses span:nth-child(5) {
    color: #FF7152;
  }
  .steps__card-decorPluses span:nth-child(13) {
    color: #6246E5;
  }
  .steps__card-popup {
    display: none;
  }
  .testimonials-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 20vw;
  }
  .testimonials__brands {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10vw;
  }
  .testimonials__brands-item {
    width: 40vw;
  }
  .testimonials__brands-title-mobile {
    display: block;
    font-weight: 600;
    font-size: 4vw;
    text-align: center;
    color: #5E6282;
  }
  .testimonials-subtitle {
    font-size: 4vw;
    margin-bottom: 5vw;
  }
  .testimonials-title {
    font-size: 9vw;
    margin-bottom: 10vw;
  }
  .testimonials__quote {
    margin-top: 20vw;
    padding: 20vw 5vw 5vw;
  }
  .testimonials__quote-image {
    left: 38%;
    width: 20vw;
    height: 20vw;
  }
  .testimonials__quote-text {
    font-size: 3.2vw;
    text-align: left;
  }
  .testimonials__quote-author {
    font-size: 3.4vw;
  }
  .testimonials__quote-place {
    font-size: 3.2vw;
  }
  .subscribe {
    position: relative;
  }
  .subscribe-inner {
    display: none;
  }
  .subscribe-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe-mobile-button {
    border-radius: 2vw;
    padding: 3vw 7vw;
    font-size: 4vw;
    color: #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF946D), to(#FF7D68));
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
  }
  .subscribe-mobile-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff806d), to(#ff6868));
    background: linear-gradient(180deg, #ff806d 0%, #ff6868 100%);
  }
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5vw;
    width: 80%;
    margin: 0 auto;
  }
  .subscribe-form button {
    border-radius: 3vw;
    padding: 2vw 7vw;
    font-size: 4vw;
    width: 50%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .subscribe-form a {
    color: #FFFFFF;
  }
  .subscribe-form input {
    border-radius: 3vw;
    height: 10vw;
    font-size: 4vw;
  }
  .subscribe-decor {
    position: absolute;
    top: 0;
    right: 16%;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .subscribe-decor img {
    margin: auto 0 auto 30%;
    width: 50%;
    height: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .subscribe .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .subscribe .overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 3;
  }
  .subscribe .popup {
    margin: 35% auto;
    padding: 10vw 0;
    background: rgba(255, 241, 218, 0.9176470588);
    border-radius: 3vw;
    width: 80%;
    position: relative;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }
  .subscribe .popup .close {
    position: absolute;
    top: 2%;
    right: 4%;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    font-size: 5vw;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .subscribe .popup .close:hover {
    color: #d8ae06;
  }
  .footer {
    margin-bottom: 0;
    padding: 5vw 0;
    background: #FFF1DA;
  }
  .footer-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-logo {
    font-size: 15vw;
  }
  .footer-text {
    font-size: 4vw;
    width: 80%;
  }
  .footer-listTitle {
    font-size: 7vw;
    margin: 6vw 0;
  }
  .footer-list li:not(:last-child) {
    margin-bottom: 2vw;
  }
  .footer-list__item {
    font-size: 5vw;
  }
  .footer-socialLinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 8vw;
    margin: 10vw 0;
  }
  .footer-socialLinks a {
    width: 7vw;
    height: 7vw;
  }
  .footer-appTitle {
    font-size: 5vw;
  }
  .footer-apps {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5vw;
  }
  .footer-apps a {
    height: 10vw;
  }
  .footer-rights {
    margin-top: 15vw;
    font-size: 3vw;
  }
}/*# sourceMappingURL=style.css.map */